* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    padding-left: 30px;
    padding-right: 30px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 40px;
    padding-left: 100px;
}

nav img {
    height: 40px;
    border-radius: 30px;
}

.logo {
    height: 40px;
    width: 100px;
}

nav ul li a {
    color: gainsboro;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

nav ul li a:hover {
    color: white;
}

.nav_right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.location p {
    color: white;
    padding-top: 10px;
}

.location {
    display: flex;
}

.get_app {
    background-color: black;
    color: white;
    font-weight: 300;
    border-radius: 4px;
    border: none;
    padding: 5px 10px;
}

.get_app:hover {
    border: 2px solid white;
}

.sale {
    width: 100%;
    height: 100%;
}

main {
    margin-top: -5px;
    width: 100%;
    background-color: black;
    color: white;
}

.icon_section {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
    gap: 60px;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon img {
    width: 95px;
    height: 85px;
    /* background-color: #222; */
    border-radius: 50%;
    /* border: 1px solid #333; */
    padding: 10px;
    margin-bottom: 15px;
    object-fit: contain;
}

.icon h3 {
    color: #fff;
    margin-bottom: 2px;
    font-size: 25px;
}

.icon p {
    color: #888;
    font-size: 17px;
    margin-bottom: 1px;
}

.pricing_container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    gap: 25px;
    height: 500px;
}

.cards {
    background-color: #1c1c1c;
    border-radius: 15px;
    padding: 30px 25px;
    width: 330px;
    height: 420px;
    display: flex;
    flex-direction: column;
    border: 2px solid #2d2d2d;
    position: relative;
    transition: transform 0.3s ease;
}

.duration h1 {
    font-size: 64px;
    margin: 0;
    font-weight: 700;
}

.duration p {
    font-size: 14px;
    letter-spacing: 2px;
    color: #aaa;
    margin-top: 5px;
    font-weight: bold;
}

.price {
    position: absolute;
    top: 35px;
    right: 30px;
    text-align: right;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.price ul{
    text-align: left;
}
.strikethrough {
    text-decoration: line-through;
    color: #555;
    font-size: 16px;
    margin-bottom: 35px;
}

.price_modify {
    font-size: 14px;
    color: #fff;
    font-weight: 500;
}

.features {
    list-style: none;
    padding: 20px 0 0 0;
    margin: 30px 0;
    border-top: 1px solid #333;
    flex-grow: 1;
}

.features li {
    font-size: 13px;
    color: #bbb;
    margin-bottom: 12px;
    line-height: 1.4;
}

.buy_now {
    background-color: #ffffff;
    color: #000;
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    width: fit-content;
    transition: background 0.2s;
    margin-bottom: 50px;
}

.buy_now:hover {
    background-color: #f5a623;
    color: white;
}

.disclamer {
    text-align: center;
    font-size: 12px;
    color: #555;
    /* margin-top: 40px; */
}
